In [43]:
import os
import psycopg2

In [44]:
db_config = {
    'dbname': 'postgres',  # Replace with your database name
    'user': 'postgres',         # Replace with your username
    'password': 'admin',     # Replace with your password
    'host': 'localhost',             # Replace with your host (if not local)
    'port': '5432'                   # Replace with your port (if not default)
}

In [45]:
db_config

{'dbname': 'postgres',
 'user': 'postgres',
 'password': 'admin',
 'host': 'localhost',
 'port': '5432'}

In [46]:
conn = psycopg2.connect(**db_config)

In [47]:
with conn.cursor() as cur:
    cur.execute("""SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """)
    print(cur.fetchone())

('expenses',)

In [48]:
# with conn.cursor() as cur:
#     cur.execute("""
#     INSERT INTO "public"."users" (id, username, email, password)
#     VALUES (27456, 'test', 'test@test.com', 'test')
#     """)
#     conn.commit()

In [52]:
with conn.cursor() as cur:
    cur.execute("""SELECT * FROM expenses;""")
    print(cur.fetchone())

('13412rfq-34234r21-fq342134', 27456, 20.0, 'Health', datetime.date(2025, 1, 15), 'bought tablets for 20')

In [53]:
conn.close()